{% block title %}Artists List{% endblock %}

{% block body %}
    <style>
        body {
            background-color: #bf6fed;
            font-size: 18px;
            font-family: Arial, sans-serif;
            margin: 2rem;
        }
        table {
            width: 100%;
            max-width: 700px;
            border-collapse: collapse;
            margin: 0 auto;
            background: white;
        }
        th, td {
            border: 1px solid #333;
            padding: 10px 15px;
            text-align: left;
        }
        th {
            background-color: #a77bd4;
            color: white;
        }

    </style>

    <h1 style="text-align:center; color: white;">Artists</h1>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Musical Genre</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        {% for artist in artists %}
            <tr>
                <td>{{ artist.name }}</td>
                <td>{{ artist.musicalGenre }}</td>
                <td>
                    <form method="post" action="{{ path('artist_delete', {'id': artist.id}) }}"
                          onsubmit="return confirm('Are you sure?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ artist.id) }}">
                        <button class="btn-danger">Delete</button>
                    </form>
                    <form method="post" action="{{ path('artist_update', {'id': artist.id}) }}">
                        <button type="submit">Update</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No artists found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="text-align: center; margin-top: 20px;">
        <form method="post" action="{{ path('artist_add') }}">
            <button type="submit">Add</button>
        </form>
    </div>
{% endblock %}


