{% extends 'base.html.twig' %}

{% block body %}
    <h1>Festivals</h1>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Price</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Edit</th>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
            {% if not is_granted('ROLE_ADMIN') %}
                <th>Purchase</th>
                {% endif %}
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for festival in festivals %}
            <tr>
                <td><a href="{{ path('festival_lineup', {'id': festival.id}) }}">{{ festival.name }}</a></td>
                <td>{{ festival.location }}</td>
                <td>{{ festival.startDate ? festival.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ festival.endDate ? festival.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ festival.price }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <form method="post" action="{{ path('festival_delete', {'id': festival.id}) }}" onsubmit="return confirm('Are you sure?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ festival.id) }}">
                            <button type="submit">Delete</button>
                        </form>
                        <form method="post" action="{{ path('festival_update', {'id': festival.id}) }}">
                            <button type="submit">Update</button>
                        </form>
                    </td>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    {% if not is_granted('ROLE_ADMIN') %}
                    <td>
                        <form method="post" action="{{ path('festival_purchase', {'id': festival.id}) }}">
                            <input type="hidden" name="_token" value="{{ csrf_token('purchase' ~ festival.id) }}">
                            <button type="submit">Purchase</button>
                        </form>
                    </td>
                {% endif %}
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No festivals found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div align="center"><strong>{{ message }}</strong></div>
        {% endfor %}
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        <div style="text-align: center;">
            <form method="post" action="{{ path('festival_add') }}">
                <button type="submit">Add festival</button>
            </form>
        </div>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <div style="text-align: center;">
            <form method="post" action="{{ path('lineup_add') }}">
                <button type="submit">Add artist to festival</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
