{% extends 'base.html.twig' %}

{% block body %}
    {% if festival is defined %}
        <h1 style="text-align:center; color: white;">Artists at {{ festival.name }}</h1>
    {% else %}
        <h1 style="text-align:center; color: white;">Artists</h1>
    {% endif %}

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Musical Genre</th>
        </tr>
        </thead>
        <tbody>
        {% for artist in artists %}
            <tr>
                <td>{{ artist.name }}</td>
                <td>{{ artist.musicalGenre }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No artists found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_USER') %}
        <div style="text-align: center; margin-top: 20px;">
            <form method="post" action="{{ path('festival_purchase', {'id': festival.id}) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('purchase' ~ festival.id) }}">
                <button type="submit">Purchase</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
