{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="text-align:center; color: white;">Users</h1>

    <table>
        <thead>
        <tr>
            <th>Email</th>
            <th>Roles</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|join(', ') : 'N/A' }}</td>
                <td>
                    <form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                        <button class="btn-danger">Delete</button>
                    </form>
                    <form method="post" action="{{ path('user_update', {'id': user.id}) }}">
                        <button type="submit">Update</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" style="text-align:center;">No users found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
